.elementor-kit-7 {
  --e-global-color-primary: #000000;
  --e-global-color-secondary: #000000;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #fabc3c;
  --e-global-color-626bc95: #fabc3c;
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "DM Sans";
  --e-global-typography-text-font-size: 16px;
  --e-global-typography-text-font-weight: 300;
  --e-global-typography-accent-font-family: "DM Sans";
  --e-global-typography-accent-font-size: 14px;
  --e-global-typography-accent-font-weight: 300;
  --e-global-typography-3e962aa-font-family: "DM Sans";
  --e-global-typography-3e962aa-font-size: 15px;
  --e-global-typography-3e962aa-font-weight: 500;
  --e-global-typography-55599d6-font-family: "Archivo";
  --e-global-typography-55599d6-font-size: 60px;
  --e-global-typography-55599d6-font-weight: 700;
  --e-global-typography-55599d6-line-height: 1.2em;
  --e-global-typography-5abc054-font-family: "Comforter";
  --e-global-typography-5abc054-font-size: 82px;
  --e-global-typography-5abc054-line-height: 1em;
  --e-global-typography-fa93caa-font-family: "Archivo";
  --e-global-typography-fa93caa-font-size: 42px;
  --e-global-typography-fa93caa-font-weight: 700;
  --e-global-typography-fa93caa-line-height: 1em;
  --e-global-typography-a246ee1-font-family: "Archivo";
  --e-global-typography-a246ee1-font-size: 52px;
  --e-global-typography-a246ee1-font-weight: 700;
  --e-global-typography-a246ee1-line-height: 1em;
  --e-global-typography-b049868-font-family: "Archivo";
  --e-global-typography-b049868-font-size: 24px;
  --e-global-typography-b049868-font-weight: 700;
  --e-global-typography-b049868-line-height: 1em;
  --e-global-typography-41c8894-font-family: "Archivo";
  --e-global-typography-41c8894-font-size: 32px;
  --e-global-typography-41c8894-font-weight: 700;
  --e-global-typography-41c8894-line-height: 1em;
  --e-global-typography-5842a21-font-family: "Roboto"; 
  --e-global-typography-5842a21-font-size: 26px;
  --e-global-typography-5842a21-font-weight: 600;
  --e-global-typography-5842a21-line-height: 1em;
  --e-global-typography-f68bc65-font-family: "DM Sans";
  --e-global-typography-f68bc65-font-size: 16px;
  --e-global-typography-f68bc65-font-weight: 700;
  --e-global-typography-52b987e-font-family: "Archivo";
  --e-global-typography-52b987e-font-size: 18px;
  --e-global-typography-52b987e-font-weight: 700;
  --e-global-typography-acc4462-font-family: "Archivo";
  --e-global-typography-acc4462-font-size: 21px;
  --e-global-typography-acc4462-font-weight: 700;
  --e-global-typography-a2056f8-font-family: "Archivo";
  --e-global-typography-a2056f8-font-size: 200px;
  --e-global-typography-a2056f8-font-weight: 900;
  color: var(--e-global-color-text);
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-kit-7 a {
  color: var(--e-global-color-626bc95);
}
.elementor-kit-7 a:hover {
  color: var(--e-global-color-primary);
}
.elementor-kit-7 h1 {
  color: #000000;
  font-family: "Archivo", Sans-serif;
}
.elementor-kit-7 h2 {
  color: #000000;
  font-family: "Archivo", Sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.elementor-kit-7 h3 {
  color: #000000;
  font-family: "Archivo", Sans-serif;
}
.elementor-kit-7 h4 {
  color: #000000;
  font-family: "Archivo", Sans-serif;
}
.elementor-kit-7 h5 {
  color: #000000;
  font-family: "Archivo", Sans-serif;
}
.elementor-kit-7 h6 {
  color: #000000;
  font-family: "DM Sans", Sans-serif;
}
.elementor-kit-7 button,
.elementor-kit-7 input[type="button"],
.elementor-kit-7 input[type="submit"],
.elementor-kit-7 .elementor-button {
  font-family: "DM Sans", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--e-global-color-626bc95);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 5px 5px 5px 5px;
  padding: 16px 36px 16px 36px;
}
.elementor-kit-7 img {
  border-radius: 5px 5px 5px 5px;
}
.elementor-kit-7 label {
  color: #000000;
  font-family: "Archivo", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.2em;
}
.elementor-kit-7 input:not([type="button"]):not([type="submit"]),
.elementor-kit-7 textarea,
.elementor-kit-7 .elementor-field-textual {
  font-family: "DM Sans", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--e-global-color-text);
  border-style: solid;
  border-color: #dfdfdf;
  border-radius: 5px 5px 5px 5px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-bottom: 20px;
}
.elementor-element {
  --widgets-spacing: 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
@media (max-width: 1024px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-7 {
    --e-global-typography-fa93caa-font-size: 34px;
    --e-global-typography-a2056f8-font-size: 100px;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
